main, main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    flex-direction: column;
}

main > div, h1 {
    width: 60%;
}

main > div {
    min-height: 150px;
}

h1 {
    height: 100px;
}

main label {
    width: 30%;
}

main item {
    width: 70%;
}

#weather_location item {
    flex-direction: column;
}

#weather_location select {
    width: 360px;
}

main.setup > h1{
    display: none;
}

main.setup > div {
    width: 100%;    
}

main.setup > #weather_visibility {
    min-height: 20px;
}

main.setup > #weather_location select {
    width: 250px;
}

main.loading, main.loading * {
    display: none;
}