main, main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    flex-direction: column;
}

main > div, h1 {
    width: 60%;
}

main > div {
    min-height: 150px;
}

h1 {
    height: 100px;
}

main > div > label {
    width: 30%;
}

main > div > div {
    width: 70%;
}

button {
    border: 1px solid black;
}

#restore_backup div {
    flex-direction: column;
}

#restore_backup > div > * {
    width: 80%;
}

#restore_backup > div > div {
    align-items: flex-end;
}