body, main, div, h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    font-size: 11pt; /* 한줄에 열 글자면 11pt여야 한 줄에 다 들어감. 글씨 크기 키우고 싶으면 열글자에서 더 줄여야. */
    cursor: default;
    color: #555;
}


body {
    flex-direction: column;
    margin-top: 0px;
}

.header-container {
    justify-content: flex-start; 
    text-align: left;
    flex-wrap: nowrap; 
    padding-left: 10px;
    height:100px;
    width: 600px;
    margin-bottom: 20px;
    margin-top:50px;
}  

div.header-container > a > img, svg{
    margin-top:25px;
    margin-right: 12px;
    height: 25px;
    width: 25px;
}

h1{
    font-weight: 200;
    color: #555;
    font-size: 25pt;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.current-time {
    font-weight: 200;
    font-size: 12pt; 
    margin-top: 20px;
    margin-left: 115px;
    padding: 5px;
    white-space: nowrap;
    vertical-align: middle;
    font-style: italic;
}

div.folder_list {
    color: #777;
    width: 600px;
    padding-bottom: 30px;
   justify-content: left;  
}

div.folder_list span{
    margin-left: 10px;
    margin-right: 10px;
}

.folder_list span:hover{
    background-color: rgba(0, 0, 0, 0.2);
}


main{
    width:610px;
}

div.cell a {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

div.cell img {
    top: 12px;
}

img{
    width:24px;
    height:24px;
    z-index: 10;
    position: relative;
}

div.cell{
    width:112px;
    height:112px;
    margin-bottom: 30px;
    padding: 5px;
    position: relative;
}


div.cell div { /* 마우스 커서 hover 시 배경색이 바뀌는 영역. 안에 img 노드, 텍스트 노드가 들어있다. */
    width: 112px;
    height: 112px;
    flex-direction: column;
    z-index: 0;
    border-radius: 5px;
}

div.cell div:hover{
    cursor: pointer;
}

.mod_button {
    display: none;
    font-size:5pt;
    position: absolute;
    top:3px;
    right: 10px;
    width:19px;
    height:14px;
    padding-top: 6px;
    color:#777;
    border-radius: 50%;
}

div:hover > p.mod_button {
    display: block;
}

.mod_button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.arrow_box {
    display: none;
    position: absolute;
    top: 55px;
    width: 90px;
    padding: 5px;
    z-index:10000;
    word-break: break-all;
}

p.icon_title{
    position: absolute;
    top: 60px;
    z-index: -1;
    max-width: 80px;
    height: 30px;
}



div.cell button.icon {
    height: 40px;
    width: 40px;
    border: 0px;
    background-color: #444;
    color: white;
    font-size: 12pt;
}



.mod_box {
    position: fixed;
    height: 400px;
    width: 500px;
    background-color: white;
    z-index: 1000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.mod_box button {
    border: 1px solid;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900000;
}

.hide {
    display:none;
}


.mod_box > h2, div {
    width: 100%;
    margin: 0px;
}

.mod_box h2 {
    text-align: left;
    padding-left: 20px;
    font-weight: normal;
    height: 30px;
    padding-top: 10px;
}

.mod_box div.label {
    height: 20px;
    justify-content: left;
    padding-left: 40px;
    padding-top: 10px;
}

.mod_box div.input {
    height: 40px;
    padding-top: 2px;
}

.mod_box div.buttons div {
    position: relative;
    height: 60px;
}

.mod_box input {
    height: 20px;
    width: 400px;
    border: 0px;
    background-color: #e0e0e0;
}

.mod_box button {
    position: absolute;
    width: 65px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.mod_box .delete {
    left: 0px;
    color: red;
    border: 1px solid red;
    background-color: white;   
}

.mod_box .cancel {
    right: 100px;
}

.mod_box .confirm {
    right: 0px;
}



button.folder_deco{
    position: absolute;
    width: 10px;
    height: 3px;
    top:18px;
    left:44px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px;
    border-radius: 10px;
}

button.folder{
    border: 0px;
    border-radius: 5px;
    position: absolute;
    width: 40px;
    height: 33px;
    top:20px;
    background-color: rgba(0, 0, 0, 0.2);
}


.visibility_hide{
    visibility: hidden;
}

h2.new {
    color: #ccc;
}

.clicked {
    color: #555;
}

.folder_selected {
    border: 1px solid black;
}


.weather_info {
    width: 400px;
    height: 178px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

iframe {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.weather_info span {
    position: absolute;
    right: 0px;
    top: 200px;
}

.numbers {
    font-size: 8pt;
    color: #888
}




div.cell a {
    position: absolute;
    top: 20px;
}

div.logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
}

.now_hovering {
    z-index:10000 !important;
}


.bookmark-search {
    border-radius: 18px;
    background-color: #fff;
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 0 1px 6px #20212447;
}

.bookmark-search input {
    border: 0px;
    background-color: inherit;
    width: 80%;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

.modify-theme-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    z-index: 100000;
}

.modify-theme-wrapper button {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);
    padding: 0px;
    border: 0px;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.modify-theme-wrapper button:hover {
    background-color: rgba(0,0,0,.23);
}

.modify-theme-wrapper img {
    width: 16px;
    height: 16px;
}

.modify-theme-wrapper.open-box {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);
    width: 250px;
    height: 270px;
    border-radius: 5px;
    background-color: rgb(255,255,255,0.9);
}

.modify-theme-box {
    display: none;
    position: absolute;
    top: 0px;
}

.modify-theme-box div {
    justify-content: flex-start;
}

.modify-theme-box label {
    width: 120px;
}

.modify-theme-box div {
    margin: 5px;
}

.modify-theme-box #fileViewer {
    background-color: #eee;
    padding: 5px;
    width: 100px;
    font-size: 9pt;
    justify-content: center;
}

.modify-theme-box #colorPicker {
    width: 105px;
    margin-left: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 9pt;
}

div.color-example div {
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.color-clicked {
    border: 1px solid black;
}

div.calendar-events-wrapper {
    display: none;
    width: 483px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
}

div.calendar-day {
    width: 69px;
    height: 100px;
    overflow-y: auto;
    align-items: flex-start;
    font-size: 8pt;
}

a {
    text-decoration: none;
}

span.calendar-day-title {
    width: 100%;
}

b.exclamation-mark {
    font-weight: 1000;
    color: white;
    border-radius:50%;
    background-color: #f33;
    position: absolute;
    display: none;
    width: 13px;
    font-size: 8pt;
}
